*{
    box-sizing: border-box;
}

div.basic , div.basic1{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    float:left;
    margin-left:90px;
}

div.basic-text{
    font-size:24px;
    color: #333;
}

div.lorem1{
    font-size: 14px;
    color: #666;
}

ul.asd{
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

ul.asd{
    margin-bottom: 5px;
}

a.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    padding:5px 5px;
    text-decoration: none;
    border-radius: 5px;
}

